


<script  type="text/javascript">
    function clickAdd(id, container, select_id, select_name){
        $(container).parent().append(showSelect(id, select_id, select_name));
    }
    function showSelect(selectedId, select_id, select_name){
        var html = $("<select id='"+select_id+"' name='"+select_name+"'/>");
        var found = false;
        <%
           Tracker.sorted.all.each do |t|
        %>
        found = found || (selectedId == <%=t.id.to_s%>);
        var selected = (selectedId == <%=t.id.to_s%>) ? 'selected=\'selected\'':'';
        var option = $("<option value='<%= t.id.to_s%>' "+selected+" ><%= t.name%></option>");
        html.append(option);
        <%
           end
        %>
        if(!found){
            var option = $(" <option value='0' selected='selected'>-</option>");
            html.append(option);
        }

        var tr = $("<tr/>");
        var td1 = $("<td>&nbsp;</td>");
        var td2 = $("<td></td>");
        td2.append($(html));
        var del = '<a href="javascript:void(0);">\
              <img src="../../../../images/delete.png" alt="Delete" onclick="clickDelete(this)"/> \
              </a>';
        td2.append($(del));
        tr.append(td1);
        tr.append(td2);
        return $(tr);
    }

    function clickDelete(button){
        var tr = $(button).parent().parent().parent();
        if(tr){
            tr.remove();
        }
    }

    function clickAddUserAllocationTracker(id){
        var container = $("#task_allocation_setting>tbody");
        clickAdd(id, container, 'settings_resource_task_tracker','settings[resource_task_tracker][]');
    }

    function clickAddProjectStatusTracker(id){
        var container = $("#project_status_setting>tbody");
        clickAdd(id, container, 'settings_resource_project_status_tracker','settings[resource_project_status_tracker][]');
    }

</script>

<h2><%= l(:user_allocation_gantt) %></h2>
<table id='task_allocation_setting'>
  <tbody>
  <th>Add Task Tracker</th>
  <td>
    <div>
      <a href="javascript:void(0);">
        <img src="../../../../images/add.png" alt="Add" onclick="clickAddUserAllocationTracker(-1)"/>
      </a>
    </div>
  </td>
  <script type="text/javascript">
      <%
         if settings['resource_task_tracker'] && settings['resource_task_tracker'].is_a?(Array)
           for trackerId in settings['resource_task_tracker']
      %>
      clickAddUserAllocationTracker(<%=trackerId%>);
      <%
           end
         end
      %>
  </script>

  </tbody>
</table>


<hr/>

<h2><%= l(:project_status) %></h2>
<table id="project_status_setting">
  <tbody>
  <tr>
    <th><%=l(:choose_trackers)%></th>
    <td>
      <div>
        <a href="javascript:void(0);">
          <img src="../../../../images/add.png" alt="Add" onclick="clickAddProjectStatusTracker(-1)"/>
        </a>
      </div>
    </td>
  </tr>
  <script type="text/javascript">
      <%
         if settings['resource_project_status_tracker'] && settings['resource_project_status_tracker'].is_a?(Array)
           for trackerId in settings['resource_project_status_tracker']
      %>
      clickAddProjectStatusTracker(<%=trackerId%>);
      <%
           end
         end
      %>
  </script>
  </tbody>
</table>